/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0;
    background-color: #33d7e3;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
